[submodule "core"]
	path = core
	url = https://github.com/tucs-nash/core.git
[submodule "business"]
	path = business
	url = https://github.com/tucs-nash/business.git
[submodule "web"]
	path = web
	url = https://github.com/tucs-nash/web.git
